header {
    background-color: #333;
    padding: 10px 0;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a:hover {
    color: #a35552;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.navbar img {
    width: 150px;
}

.menu {
    display: flex;
    font-size: 2rem;
}

.login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5rem;
    font-size: 2rem;
}

.loginTitulo {
    text-align: center;
    color: #fff;
  }

@media (max-width: 500px) {
    .login {
        column-gap: 3rem;
    }

    .loginTitulo{
        font-size: 70%;
    }

    .login li a {
        font-size: 70%;
    }

    .navbar img {
        width: 20%;
    }
}
