header {
    background-color: #333;
    padding: 10px 0;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.imagemLogo {
    width: 33.33%;
    text-align: center;
}

.imagemLogo img {
    width: 150px;
}

.loginTitulo {
    width: 33.33%;
    color: #fff;
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
}

.login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5rem;
    width: 33.33%;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    text-align: center;
    list-style: none;
}

.login a {
    text-decoration: none;
    color: #fff;
    margin-bottom: 1rem;
}

.login li a:hover {
    color: #a35552;
}

@media (max-width: 500px) {
    .navbar img {
        width: 100px;
    }

    .login {
        column-gap: 3rem;
    }

    .loginTitulo{
        font-size: 1.5rem;
    }

    .login li a {
        font-size: 70%;
    }
}
