* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding: 0.50rem;

  /* coloca o main para preencher todo o espaço disponível 
     * colocando o rodapé ancorado no final da página
     * Necessário que a tag pai (no caso body) esteja com o display flex
     */
  flex: 1;
}

.sessao p {
  margin: 10px 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(155 6 2);
}


.caixa {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

section {
  margin: 2em 0;
  overflow: hidden;
}

section h2 {
  font-size: 1.5rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid #ccc;
}

.tituloModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.modal {
  display: none; /* Oculta o modal por padrão */
  position: fixed; /* Posição fixa para ocupar a tela inteira */
  z-index: 1; /* Coloca o modal sobre tudo */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Adiciona rolagem se necessário */
  background-color: rgba(0,0,0,0.8); /* Cor de fundo escura com opacidade */
}

.modal-content {
  margin: 10rem auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}

.botoesMT {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

.botaoDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

button, .botaoMT {
  text-decoration: none;
  text-align: center;
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px; /* Evita o efeito de subida dos elementos abaixo do botão */
	color: #fff;
	background-color: rgb(155 6 2);
	border-color: rgb(220 38 38);
  display: block;
  clear: both;
  border-radius: 0.375rem;
}

button:hover, .botaoMT:hover {
  background-color: rgb(220 38 38);
  border-color: rgb(155 6 2);
}

button:active, .botaoMT:active {
  background-color: rgb(155 6 2);
	border-color: rgb(220 38 38);
	margin-top:0px;
	border: 0;
}

button[disabled=disabled], button:disabled, .botaoMT[disabled=disabled], .botaoMT:disabled {
  background-color: gray;
	border-color: darkgray;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

label {
  color: #555;
  display: block;
  margin-bottom: .2em;
  font-weight: bold;
}

#filtrarTabela {
  width: 200px;
  height: 35px;
  margin-bottom: 10px;
}

.btoPreencherTabela {
  float: right;
  margin-bottom: 10px;
}

table {
  width: 100%;
  margin-bottom: .5em;
  font-size: 0.65rem;
}

td, th {
  padding: .7em;
  margin: 0;
  border: 1px solid #ccc;
  text-align: center;
}

th {
  font-weight: bold;
  background-color: #EEE;
}

@media (min-width: 600px) {
  table {
    font-size: 1rem;
  }
}

@media (max-width: 900px) {
  .botoesMT {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    justify-content: center;
  }
}